@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.app {
  padding-top: 200px;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
}
.home-button {
  margin-left: -2400px;
}
.app:before {
  content: "";
  background: url("../src/assets/bg.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.bold {
  font-weight: 700;
}
.container {
  height: 650px;
  margin: 50px;
  border-radius: 20px;
  margin-left: 37%;
  box-shadow: 5px 5px 10px 5px gray;
}
.location {
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}
.bold {
  font-weight: bold;
  font-size: 30px;
}
.description,
.feels,
.humidity,
.wind {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.nameCity {
  margin-left: 200px;
  padding-top: 90px;
  font-size: 45px;
  color: white;
  padding-right: 200px;
}
.icon-sunny {
  width: 120px;
}
.image-location {
  width: 80px;
  margin-right: 43px;
}
.main-location {
  text-align: right;
  margin: 30px 250px 0 0;
}
.celsus {
  margin-right: 43px;
  font-size: 35px;
  color: black;
}
.city {
  color: skyblue;
}
.app2 {
  width: 400px;
  margin-left: 2300px;
}
.second-container {
  width: 20%;
  margin-left: 76%;
  margin-top: -1300px;
  text-align: center;
}
.fixed-container {
  margin-left: 37%;
  box-shadow: 5px 5px 10px 5px gray;
  margin-top: -900px;
  border-radius: 20px;
  height: 350px;
  padding-top: 55px;
}
.temp {
  color: white;
}
.logo {
  width: 200px;
  margin-left: -2700px;
  margin-top: -270px;
}
.temp2 {
  font-size: 30px;
  color: white;
  padding-top: 30px;
}
.image-container {
  padding-top: 40px;
  width: 100px;
}
.city-input {
  border-radius: 20px;
  text-align: center;
}
.title {
  color: white;
  text-align: center;
}
.span-title {
  color: skyblue;
}
.celsus {
  margin-left: 200px;
}
.humidity-icon,
.storm-icon,
.people-icon {
  width: 70px;
}
@media screen and (max-width: 768px) {
  .second-container {
    margin-top: 70%;
    width: 500px;
    margin-left: 5px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .city-input {
    width: 110px;
  }
}

.button-49,
.button-49:after {
  margin-left: -2600px;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "WEATHER FORECAST";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
@media screen and (max-width: 768px) {
  .button-49 {
    margin-right: -500px;
    margin-top: -400px;
  }
}
button,
button::after {
  width: 300px;
  height: 86px;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #dc143c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px black;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "WEATHER FORECAST";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px red;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.weather-button {
  margin-left: -2400px;
  font-size: 30px;
}
@media screen and(max-width:768px) {
  .weather-button {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 1268px) {
  .home-button {
    margin-left: 20px;
  }
}
.footer {
  background-color: #00e6f6;
  height: 70px;
}
.copyright-icon {
  width: 30px;
  margin-left: -400px;
}
.footer-title {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .app {
    height: 1800px;
  }
}
