[data-theme="dark"] {
  --font-color: #eee;
  background-image: url("../../assets/night.jpg");
  --link-color: peachpuff;
}

body {
  color: var(--font-color);
  background-image: url("../../assets/night.jpg");
  background-size: cover;
  color: white;
}

.toggle-theme-wrapper {
  margin-top: -450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme {
  width: 70px;
  position: relative;
  height: 34px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .toggle-theme-wrapper {
    margin-top: -2300px;
    margin-left: 110px;
  }
  .toggle-theme {
    width: 60px;
  }
}
.sun-icon {
  margin-left: 140px;
  margin-top: 34px;
}
.moon-icon {
  margin-top: 37px;
}
