.news-header {
  background-image: url("../../assets/news.webp");
  background-size: cover;
  height: 270px;
  padding-top: 70px;
  color: white;
}
body {
}
button,
button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}
.news-button {
  margin-left: 2300px;
  margin-top: 100px;
}
.news-main {
  padding-bottom: 200px;
}

.blog-post {
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin-left: 580px;
  margin-top: 100px;
}

.blog-post__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}
.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-post__date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.blog-post__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}
.blog-post__text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}
.blog-post__cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}
@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 2.5rem;
  }
  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
    margin-left: 100px;
  }
  .blog-post__info {
    height: 100px;
    margin-left: 200px;
  }
  .news-header {
    height: 500px;
  }
  .blog-post {
    padding: 30px;
  }
}
.news-paragrap {
  margin-top: -10px;
  text-align: center;
  font-size: 30px;
  color: black;
}
.news-title {
  text-align: center;
  color: black;
}

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 80rem;
  }

  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}
@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .news-main {
    height: 410vh;
  }
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }
  .news-header {
    margin-top: 1900px;
  }
  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
  .news-main {
    background-color: #eee;
    margin-top: 1300px;
  }
}
.news-main {
  background-color: #eee;
  margin-top: 1300px;
}
@media screen and (max-width: 768px) {
  .blog-post__title {
    margin-left: -200px;
    margin-top: -220px;
  }
  .blog-post__cta {
    margin-left: 200px;
    margin-top: -399px;
  }
  .blog-post__text {
    font-size: 0.8rem;
    margin-top: -30px;
    text-align: center;
    margin-right: 160px;
  }
}
@media screen and (max-width: 768px) {
  .blog-post__date {
    font-size: 1rem;
    margin-right: 500px;
  }
  .blog-post {
    margin-top: 160px;
  }
  .news-header {
    padding-top: 150px;
  }
}
