.news-header {
  background-image: url("../../assets/news.webp");
  background-size: cover;
  height: 270px;
  padding-top: 70px;
  color: white;
}
body {
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: #eee;
  padding: 0 1.5rem;
  align-items: center;
}
button,
button::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: "Bebas Neue", cursive;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
}
.news-button {
  margin-left: 2300px;
  margin-top: 100px;
}
button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "WEATHER FRACES";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}
button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
.blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin-left: 580px;
  margin-top: 100px;
}

.blog-post__img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}
.blog-post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}
.blog-post__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}
.blog-post__date span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.blog-post__title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}
.blog-post__text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.7);
}
.blog-post__cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 0.8rem;
  text-decoration: none;
}
.blog-post__cta:hover {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 2.5rem;
  }
  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  .blog-post {
    margin-left: 100px;
  }
  .blog-post__info {
    height: 100px;
    margin-left: 200px;
  }
  .news-header {
    height: 500px;
  }
}
.news-paragrap {
  margin-top: -10px;
  text-align: center;
  font-size: 30px;
  color: black;
}
.news-title {
  text-align: center;
  color: black;
}

@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 80rem;
  }
  .blog-post__img {
    min-width: 30rem;
    max-width: 30rem;
  }
}
@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 30rem;
  }
}
@media screen and (max-width: 768px) {
  .news-main {
    height: 400vh;
  }
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }
  .news-header {
    margin-top: 1900px;
  }
  .blog-post__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -8rem);
  }
  .news-main {
    background-color: #eee;
    margin-top: 1300px;
  }
}
.news-main {
  background-color: #eee;
  margin-top: 1300px;
}
@media screen and (max-width: 768px) {
  .blog-post__title {
    margin-left: -200px;
    margin-top: -220px;
  }
  .blog-post__cta {
    margin-left: 200px;
    margin-top: -399px;
  }
  .blog-post__text {
    font-size: 0.8rem;
    margin-top: -30px;
    text-align: center;
    margin-right: 160px;
  }
}
@media screen and (max-width: 768px) {
  .blog-post__date {
    font-size: 1rem;
    margin-right: 500px;
  }
}
